
@font-face {
    font-family: 'Millimetre';
    src: url('../../assets/millimetre/Millimetre-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



.background-container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url("../../assets/nice.png");
    background-color: #C0C78C;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    } 

.h1-titre {
    position: absolute;
    top : 30vh;
    left : 9vW;
    color: #FAF3DD;
    text-shadow: 0vw 0.14vw 0.2vw #FFA69E;
    font-family: 'Millimetre', sans-serif;
    font-weight: 550;
    font-size: 4.2vw;
}

.h2-titre {
    position: absolute;
    top : 36vh;
    left : 32vW;
    color: #FAF3DD;
    text-shadow: 0vw 0.14vw 0.2vw #FFA69E;
    font-family: 'Millimetre', sans-serif;
    font-weight: 550;
    font-size: 3vw;
}

.custom-click{
    position: absolute;
    top: 42vh;
    left: 29vw;
    background-color:#5E6472;
    color:#FDCDBE !important;
    padding: 0.2vw 0.8vw;
    font-size: 2vw;
    font-family: 'Millimetre', sans-serif;
    font-weight: bold;
    border-radius: 20px; 
    border-color: #5E6472 !important;
}

.custom-click:hover {
    transform: translateY(-0.2vw);
    border-color:#FDCDBE !important;
}

.custom-click2{
    position: absolute;
    top : 21.8vh;
    background-color:#5E6472 !important;
    color:#FDCDBE !important;
    padding: 0.2vw 0.8vw;
    font-size: 1.5vw;
    font-family: 'Millimetre', sans-serif;
    font-weight: bold;
    border-radius: 15px; 
    border-color: #5E6472 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px; 
    height: 60px;   
/*    display: flex;
    justify-content: center;
    align-items: center;*/

}

.video-Tsunami {
    height: 70vh;
    width: 50vw;
    margin: 0;
    padding: 0;
    background-image: url("../../assets/videos/tsunami.mp4");
    background-color: #C0C78C;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.custom-cadre {
    position: absolute;
    top : 32vh;
    right: 10vw;
    width: 36vw;
    height: 55vh;
    margin: 2vw auto;
    background-color: rgba(0, 0, 0, 0.35);
    border: 2px solid #FDCDBE; ;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    }

.custom-cadre2 {
    position: absolute;
    top : 32vh;
    left: 10vw;
    width: 36vw;
    height: 55vh;
    margin: 2vw auto;
    background-color: rgba(0, 0, 0, 0.35);
    border: 2px solid #FDCDBE; ;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    justify-content: start;
    }



video {
    width: 70%;
    height: auto; 
    display: block; 
    margin: 0 auto; 
    border-radius: 15px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.custom-click3{
    position: absolute;
    top: 90vh;
    right: 15vw;
    background-color:#5E6472;
    color:#FDCDBE !important;
    padding: 0.2vw 0.8vw;
    font-size: 2vw;
    font-family: 'Millimetre', sans-serif;
    font-weight: bold;
    border-radius: 20px; 
    border-color: #5E6472 !important;
}

.custom-click3:hover {
    transform: translateY(-0.2vw);
    border-color:#FDCDBE !important;
}

.custom-click4 {
    position: absolute;
    top: 90vh;
    left: 15vw;
    background-color:rgb(255, 69, 69) !important;
    color:#FDCDBE!important;
    border: 1px solid #FDCDBE!important;
    padding: 0.2vw 0.8vw;
    font-size: 2vw;
    font-family: 'Millimetre', sans-serif;
    font-weight: bold;
    border-radius: 20px; 
}

.custom-click4:hover {
    background-color: rgb(255, 69, 69) !important;
    color: #FDCDBE!important;
    transform: translateY(-0.2vw);
}
.close-buton {
    margin: 1vw;
    border: none;
    color: #5E6472!important;
    background-color: transparent !important;
}

.chat {
    font-size: 1.5vw;
    padding: 1vw;
    border-radius: 20px;
    position: fixed;
    background-color: #FFA69E !important;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
}


.chat:hover {
    border-color: #000;
    transform: translate(-50%, -0.2vw);
}


.chat2 {
    transform: translateX(-50%);
    position: fixed;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
}


.ListPlacement {
    position: absolute;
    margin-left: 770px;
    margin-bottom: 300px;
}


.class-titre {
    position: relative !important;
    margin: 2rem 0rem ;
   /* top : 4vh; */
    /* left : 9vW; */
    color: #FAF3DD;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
    text-shadow: 0vw 0.14vw 0.2vw #FFA69E;
    font-weight: 550;
    font-size: 2vw;
}

.rappel-titre {
    position: absolute;
    top : 5vh;
    left : 9vW;
    color: #FAF3DD;
    text-shadow: 0vw 0.14vw 0.2vw #FFA69E;
    font-weight: 550;
    font-size: 1vw;
}

.p-class {
    margin: 2px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #FDCDBE !important;
    border-radius: 30px;
    background-color: rgba(54, 54, 54, 0.616);
    color: #FAF3DD;
    font-weight: 550;
    font-size: 1.6vw;
    padding: 20px;
}

.p-class1 {
    margin: 2px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #FDCDBE !important;
    border-radius: 30px;
    background-color: rgba(54, 54, 54, 0.616);
    color: #FAF3DD;
    font-weight: 550;
    font-size: 1.1vw;
    padding: 20px;
}

.score{
    font-size: 3vw ;
    border-radius: 20px;
    position: fixed;
    top: 1vw;
    left: 50%;
    transform: translateX(-54%); 
    display: flex;
}
