

.button-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

button {
    background-color: lightcoral;
    border: none;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 6rem;
    font-size: 2vw;
    width: auto;
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
   }
   
   button:active {
    color: lightcoral;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
   }
   
   button:hover:not(:disabled) {
    background: white;
    color: lightcoral;
    text-shadow: 0 0.1rem #bcb4b4;
   }
   
   button:disabled {
    cursor: auto;
    color: grey;
   }