

.button-container {
    display: flex;
    overflow-x: auto;
    gap: 10rem;
    padding: 1rem;
    align-items: center;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }

.button_custom {
    background-color: lightcoral;
    border-width: 3px;
    border-color: black;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: auto;
    font-size: 2vw;
    width: auto;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
   }
   
   .button_custom:active {
    color: lightcoral;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
    border-color: black;
   }
   
   .button_custom:hover:not(:disabled) {
    background: white;
    color: lightcoral;
    text-shadow: 0 0.1rem #bcb4b4;
    border-color: black;
   }
   
   .button_custom:disabled {
    cursor: auto;
    color: grey;
   }

   .button_home {
    margin-top : 3vw;
    position: absolute;
    top: 75vh;
  }

  .button_start {
    position: absolute;
    top: 90.5vh;
    align-content: center;
  }