.button-container_back {
  display: flex;
  overflow-x: auto;
  gap: 10rem;
  padding: 1rem;
  align-items: center;
  transform: translate(-50%, -50%);
  position: fixed; 
  top: 120px;
  left: 60px; 
}

.button_back {
  background-color: rgb(243, 7, 7);
  border-width: 3px;
  border-color: black;
  padding: 0.5rem 1rem; /* Réduit le padding pour un bouton plus petit */
  height: auto;
  font-size: 1.2rem; /* Réduit la taille du texte */
  width: auto;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}

.button_back:active {
  color: lightcoral;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
  border-color: black;
}

.button_back:hover:not(:disabled) {
  background: white;
  color: lightcoral;
  text-shadow: 0 0.1rem #bcb4b4;
  border-color: black;
}

.button_back:disabled {
  cursor: auto;
  color: grey;
}
