#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.custom_font {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.flex_custom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle_left {
  background-image: url("./assets/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 60vw;
  transform: rotate(180deg);
}

.triangle_right {
  background-image: url("./assets/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: 60vw;
}

.triangle_left:hover {
  transform: translateX(-5px) rotate(180deg);
}

.triangle_right:hover {
  transform: translateX(5px);
}

h1 {
  color: #FFA69E;
  text-shadow: 0.1vw 0.2vw 0.2vw lightcoral;
  font-weight: 550;
  font-size: 4.2vw;
}


.main-sub-title {
    color: #FFA69E;
    text-shadow: 0.1vw 0.2vw 0.2vw lightcoral;
    font-weight: 550;    
}

.background-container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-image: url("./assets/nice.png");
  background-color: #C0C78C;
  background-size: cover;
  display: flex;
  flex-direction: column;
  } 

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video {
    max-width: 65%;
    border-radius: 10px;
  }
  
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
    margin-bottom: 20rem;
    width: 20rem;

  }

  .menu {
    width: 100%;
  }


  .dropdown {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .titre {
    padding-top: 200px;
  }

  .feedback {
    height: 180px;
  }

  .bulle-pensee {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    max-width: 200px; /* Ajustez selon vos besoins */
    text-align: center;
  }
  
  .bulle-pensee::before,
  .bulle-pensee::after,
  .bulle-pensee .mini-bulle {
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
  
  /* Position des mini-bulles */
  .bulle-pensee .mini-bulle1 {
    width: 12px;
    height: 12px;
    top: 50%;
    right: -20px;
  }
  
  .bulle-pensee .mini-bulle2 {
    width: 8px;
    height: 8px;
    top: 65%;
    right: -35px;
  }
  
  .bulle-pensee .mini-bulle3 {
    width: 5px;
    height: 5px;
    top: 78%;
    right: -45px;
  }
  
  