.custom_font {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;margin: 0 auto;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle_left {
  background-image: url("./assets/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 60vw;
  transform: rotate(180deg);
}

.triangle_right {
  background-image: url("./assets/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: 60vw;
}

.triangle_left:hover {
  transform: translateX(-5px) rotate(180deg);
}

.triangle_right:hover {
  transform: translateX(5px);
}

h1 {
  color: #FFA69E;
  text-shadow: 0.1vw 0.2vw 0.2vw lightcoral;
  font-weight: 550;
  font-size: 4.2vw;
}

.background-container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-image: url("./assets/nice.png");
  background-color: #C0C78C;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  } 

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video {
    max-width: 65%;
    border-radius: 10px;
  }
  
  .close_butoon {
    right:  3px;
  }